*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    flex-direction: column;
}
.logo a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-left: 45px;
    color: black;
    position: relative;
    top: -25px;

}
img{
    width: 45px;
    position: sticky;

}
.logo a h4{
    padding-left: 5px;
    padding-top: 2px;
    font-weight: lighter;
}
.logo a h3{
    font-weight: 500;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;

}
.menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    position: relative;
    top: -50px;
}
.menu a:hover{
    background-color: #c69b4f84;
    border-radius: 4px;
    border: solid;
}

.Action a{
    float: right;
    position: relative;
    top: -70px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    /* border: solid; */
    border-radius: 4px;
    padding: 3px;
    background-color: #ffff;
    font-size: 16px;
}

.Action img{
    float: right;
    position: relative;
    top: -68px;
    width: 23px;
    right: 4px; 
}
.Action a:hover{
    background-color: #c69b4f84;
    border: solid;
}
.Cover{
    width: 1000px;
    background-size: cover;
    position: absolute;
    top: 60px;
    left: 500px;
    height: 600px;
}
.heading{
    position: absolute;
    left: 100px;
    top: 35%;
}
.heading h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.heading a{
    text-decoration: none;
    color:black;
    background-color: #c69b4f84;
    padding: 5px;
    border-radius: 5px;
    font-size: 21px;
    border: solid;   
}
.Footer {
    position: relative;
    top: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    border-radius: 5px;
    height: 100px;
}
.Footer h4{
    color: azure;
}
.Content{
    display: flex;
    position: absolute;
    top:  800px;
    width: 50vh;
    background-color: #c69b4f84;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    left: 200px;
    border-radius: 10px;
}
.Content h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.Content p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.Content a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    
}
.Content2{
    position: absolute;
    left: 80vh;
    top: 800px;
}
.Content3{
    position: absolute;
    left:133vh;
    top: 800px;
}
.banner{
    display: flex;
    flex-direction: row;
}
.photo{
    display: flex;
    position: absolute;
    right: 800px;
}
.photo img{
    width: 700px;
    border: solid;
    border-radius: 10px;
    padding-top: 15px;
}
.photo h3{
    /* display: flex; */
    position:absolute;
    left: 200px;
    z-index: 1;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    /* background-color: #c69b4f84; */
    width: 500px;
    height: 500px;
    position: relative;
    left: 900px;
    border: solid;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.login h3{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.login div a{
    font-size: large;
    margin: 20px;
    text-decoration: none;
    color: black;
    background-color: #c69b4f84;
    border: solid;
    border-radius: 5px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
}
.login  form{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.login form input{
    border: solid;
    border-radius: 5px;
}
.login form button a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.login form button{
    border: solid;
    padding: 4px;
    margin-top: 19px;
    margin-left: 50px;
    border-radius: 5px;
    
}
.left-side{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 24%;
    height: 500px;
    margin: 50px;
    /* justify-content: center; */
    
}
.menu-bar img{
    /* display: flex; */
    justify-content: center;
    padding-top: 10px;
    /* padding-left: 100px; */
}
.menu-bar div{
    font-family: Arial, Helvetica, sans-serif;
}
.left-side hr{

    margin-top: 5px;
    border: solid;
}
.menu-item{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
}
.menu-item div{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.menu-item div a{
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-item img{
    width: 30px;
    
}
.logout-button{
    display: flex;
    justify-content: center;
    margin-top: auto;
    
}
.logout-button a{
    background-color: #c69b4f84;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
}
.logout-button img{
    width: auto;
}
.bgcolor{
    background-color: #c69b4f84;
}
.right-side{
    display: flex;
    /* background-color: aqua; */
    height: 100%;
    width: 50%;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
.whole-page{
    display: flex;

}
.upper{
    display: flex;
    /* height: 200px; */
    background-color: black;
    width: 100%;
    color: white;
    height: 125px;
    border-radius: 10px 10px 0 0;
    flex-direction: column;
}
.upper h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.lower{
    display: flex;
    height: 425px;
    width: 100%;
    background-color: #c69b4f84;
    border-radius: 0 0 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.lower {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    /* padding-left: 5px; */
}
.rh ul{
    display: flex;
    list-style: none;
}
.rh ul li{
    -ms-flex: 1;
    flex: 20px 20px 39px;
    /* flex-grow: 20px;
    flex-basis: 150px; */
    padding: 20px;
}
.c4 ul li{
    padding-left: 12px;
}
.c5 ul{
    display: flex;
    flex-direction: column;
}
.c5 ul li{
    padding-left: 1px;
    padding-bottom: 18px;

}


.upper input{
    /* width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 40px; */

}
.searchbar{
    display: flex;
    margin-top: 49px;
}
.searchbar input{
    border-radius: 5px;
}
.searchbar button{
    /* height: 20px; */
    margin-top: auto;
    margin-left: 20px;
    padding: 5px 5px 5px 5px ;
    border-radius: 5px;
    
}
.popup{
    display: flex;
    width: 30%;
    height: 50%;
    /* background-color: red; */
    position: absolute;
    left: 45%;
    bottom: 25%;
    border-radius: 10px;
    border: solid;
    flex-direction: column;
    z-index: 1;
}
.upper-pop{
    background-color: rgb(255, 255, 255);
    height: 15%;
    border-radius: 10px 10px 0 0;
    display: flex;

}
.upper-pop h4{
    /* margin: auto; */
    margin-top: 20px;
}
.lower-pop{
    background-color: black;
    height:85%;
    display: flex;
    

}


